body {
	background: url("background.jpg");
	display: flex;
}
.title {
	position: relative;
}
#gametitle {
	justify-content: center;
	color: red;
}

/* styling for markers */

.city-marker {
	width: 25px;
	height: 25px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 50%;
}

.blue {
	background: steelblue;
	box-shadow: 0 0 5px 5px #26cceb;
}

.red {
	background: red;
	box-shadow: 0 0 5px 5px #f97174;
}

.yellow {
	background: yellow;
	box-shadow: 0 0 5px 5px #f2f000;
}

.black {
	background: black;
	box-shadow: 0 0 5px 5px #b4b4b4;
}

.research-station-marker {
	width: 25px;
	height: 25px;
	border: 1px solid rgba(0, 0, 0, .2);
	background: #ffffff;
}