body {
  height: 100%;
  overflow: hidden;
}
.welcome {
  background: url("/images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#title {
  height: 600px;  
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
#gametitle {
	color: red;
}
#gamecredit {
  color: grey;
}
/* styling for markers */

.city-marker {
	width: 20px !important;
	height: 20px !important;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 50%;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 0 black;
  color: white;
}

.blue {
	background: steelblue;
}

.blue-shadow {
  box-shadow: 0 0 5px 5px #26cceb;
}

.red {
	background: red;
}

.red-shadow {
  box-shadow: 0 0 5px 5px #f97174;
}

.yellow {
	background: yellow;
}

.yellow-shadow {
  box-shadow: 0 0 5px 5px #f2f000;
}

.black {
	background: black;
}

.black-shadow {
  box-shadow: 0 0 5px 5px #b4b4b4;
}

.research-station-marker {
	width: 20px !important;
  height: 20px !important;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 0 black;
  background: white;
  color: black;
}

.whoami-user-name {
  color: grey;
}

.player-box {
  width: 150px;
}
.player-name {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 32px;
  font-size: 12px;
}
.player-hand {
  background-color: grey;
  font-size: 10px;
}
.main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .main {
    flex-direction: row-reverse;
  }

  .main-content {
    flex: 1;
    height: 100px;
  }

  .sidebar {
    width: 150px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.footer {
  height: 70px;
  background-color: brown;
}
form input.error {
  border-color: red;
  border-width: thick;
}
form button:disabled {
  background-color: #ADAEAE;
  color: white;
}
form button {
  background-color: #48B3F0;
  color: white;
}
.player-action {
  text-align: center;
}

.player-actions-panel {
}
.player-action {
  text-align: center;
}
#map {
  height: 70%;
}